/* general layout */
body {
    background-color: #E2AEA2;
    transition: 0.4s ease-in-out;
    font-family: "inter";
    color:white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

h1 {
    font-size: 100px;
    margin: 0;
}

p {
    font-size: 20px;
}

/* intro section */
.intro {
    display: flex;
    flex-direction: row;
}

.intro-text {
    width: 600px;
    margin-right: 30px;
    align-self: center;
}

#profile {
    width: 350px;
    height: 350px;
    padding: 30px;
}

/* footer */
.footer {
    position: fixed;
    bottom: 0;
}

/* dark mode */
.dark-theme {
    background-color: #9583A7;
    transition: 0.4s ease-in-out;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

#toggle {
    width: 40px;
    height: 40px;
}